.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
}
.ant-pagination-simple-pager > input {
  pointer-events: none;
  margin: 0 !important;
  padding : 0 !important;
  border: none !important;
}

.ant-pagination-prev {
  margin-right: 0 !important;
}

.ant-pagination {
  margin: 0 1rem 1rem 1rem !important;
  font-size: 1rem !important;
}

.nftMint_list {
  padding: 0 2.5rem !important;
}

.ant-list-pagination { 
  margin-top: 0 !important;
}